<p id="notice"><%= notice %></p>
<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-brand logo">
  </a>
  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="" class="navbar-item navbar-link">Host</a>
    <a href="" class="navbar-item navbar-link">Trips</a>
    <a href="" class="navbar-item navbar-link">Messages</a>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.com/photos/i7Vy81pnZCI');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>A cocktail a day keeps depression away</p>
    <a class="btn btn-primary btn-lg">Cocktails List</a>
  </div>
</div>
<% @cocktails.each do |cocktail| %>
<div class="col-4" style="margin:5px">
  <p><strong><%= link_to cocktail.name, cocktail_path(cocktail) %></strong></p>
  <% end %>
